@model Library.Entities.Rating

@{
    ViewBag.Title = "Edytowanie oceny";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Breadcrumb{
    <div>
        <ul class="breadcrumb side">
            <li><i class="fa fa-home fa-lg"></i></li>
            <li><a href="@Url.Action("index", "RatingsAdmin")">Zarządzanie ocenami</a></li>
            <li>@ViewBag.Title</li>
        </ul>
    </div>
}

<div class="col-md-10">
    <div class="card">
        <h3 class="card-title">@ViewBag.Title "@Model.Book.Title"</h3>
        <div class="card-body">
            @using (Html.BeginForm("Edit", "RatingsAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.RatingId)
                if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0) {
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @Html.ValidationSummary(true, "")
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.User, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("UserId", ViewBag.Users as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Book, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownList("BookId", ViewBag.Books as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BookId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Rate, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Rate, new SelectList(new[] { 1, 2, 3, 4, 5 }), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Opinion, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Opinion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Opinion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-8">
                        <button class="btn btn-primary icon-btn" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Zapisz</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
