@using Library.Infrastructure;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Panel Administratora</title>
    @Styles.Render("~/Content/Admin/css")
</head>
<body class="sidebar-mini fixed">
    <div class="wrapper">
        <header class="main-header hidden-print">
            <a class="logo" href="@Url.Action("Index", "Home")">Library</a>
            <nav class="navbar navbar-static-top">
                <a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>
                <div class="navbar-custom-menu">
                    <ul class="top-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                            <ul class="dropdown-menu settings-menu">
                                @if (Request.IsAuthenticated) {
                                    <li><a href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                                    <li><a href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                        @Html.AntiForgeryToken()
                                    }
                                    <li>  <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-lg"></i>Wyloguj</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar hidden-print">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image"><img class="img-circle" src="@Url.Action("GetImage", "Home" )" alt="Avatar"></div>
                    <div class="pull-left info">
                        <p>@User.Identity.Name</p>
                        <p class="designation">Administrator</p>
                        
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="@Html.IsActive("Index", "PanelAdmin")"><a href="@Url.Action("Index","PanelAdmin")"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                    <li class="@Html.IsActive("Index", "UsersAdmin")"><a href="@Url.Action("Index", "UsersAdmin")"><i class="fa fa-users"></i><span>Użytkownicy</span></a></li>
                    <li class="@Html.IsActive("Index", "RolesAdmin")"><a href="@Url.Action("Index", "RolesAdmin")"><i class="fa fa-key"></i><span>Role</span></a></li>
                    <li class="@Html.IsActive("Index", "ContactAdmin")"><a href="@Url.Action("Index", "ContactAdmin")"><i class="fa fa-envelope-o"></i><span>Wiadomości</span></a></li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div class="page-title">
                @RenderSection("Breadcrumb", required: false)
            </div>
            <div class="row">
                @if (TempData["message"] != null) {
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Świetnie!</strong> @TempData["message"]
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/admin/jquery")
    @Scripts.Render("~/bundles/admin/bootstrap")
    @Scripts.Render("~/bundles/admin/main")
    @Scripts.Render("~/bundles/admin/pace")
    @RenderSection("scripts", required: false)

</body>
</html>