@model Library.Entities.Book
@{
    ViewBag.Title = "BookDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd>
            @if (Model.ImageData != null) {
                <img src="@Url.Action("GetCoverImageById", "Home", new { id = Model.BookId})" class="bookDetails" />
            } else {
                <img src="@Url.Action("GetDefaultCoverImage", "Home" )" class="bookDetails" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AverageRatig)
        </dt>
        <dd>
            <img src="@Url.Action("GetImageByRating", "Home", new { id =  @Math.Round(Model.AverageRatig)})" class="catalog" />
            @Html.DisplayFor(model => model.AverageRatig) / 5
            (@Model.Ratings.Count() głosów) <br />
        </dd>
        @if (Model.AverageRatig != 0) {
            <dt>
                Oceny:
            </dt>
            <dd>
                @for (var i = 5; i >= 0; i--) {
                    if (Model.Ratings.Where(x => x.Rate == i).Count() > 0) {
                        <img src="@Url.Action("GetImageByRating", "Home", new { id = i })" class="catalog" />
                        <b>(</b>   @Model.Ratings.Where(x => x.Rate == i).Count()    <b>)</b><br />
                    }
                }
            </dd>
        }
    </dl>
    <div class="col-md-offset-2">
        @if (Request.IsAuthenticated && Model.Amount != 0) {
            <a href="@Url.Action("Borrow", "Catalog", new { id = Model.BookId })">Wypożycz<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
            using (Html.BeginForm("Rate", "Catalog", new { id = Model.BookId }, FormMethod.Post, new { role = "form" })) {
                @Html.AntiForgeryToken()
                <div class="stars">
                    @for (var i = 5; i >= 1; i--) {
                        <input type="radio" name="rate" id="star-@i" class="star star-@i" value="@i">
                        <label for="star-@i" class="star star-@i" title="@i"></label>
                    }
                </div>
                <p>
                    <input type="submit" value="Oceń" class="btn btn-danger" />
                </p>
            }
        } else if (Request.IsAuthenticated && Model.Amount == 0) {
            <b>BRAK DOSTĘPNYCH EGZEMPLARZY</b>
        } else if (!Request.IsAuthenticated && Model.Amount != 0) {
            <b>ZALOGUJ SIĘ ABY WYPOŻYCZYĆ</b>
        }
        <hr />
        <b>Opinie użytkowników:</b>
        <div class="pull-right">
            <a href="@Url.Action("AddOpinion", "Catalog", new { id = Model.BookId })">Dodaj opinię<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
        </div>
        @if (Model.Opinions.All(x => x.Content == null)) {
            <p>Brak opinii</p>
        } else {
            foreach (var item in Model.Opinions) {
                <blockquote>
                    <p> @item.Content</p>
                    <small>
                        <cite title="Użytkownik">@item.User.UserName</cite>
                    </small>
                </blockquote>
                <hr />
            }
        }

    </div>
</div>
