@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Zarządzanie rolami";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a href="@Url.Action("Create", "RolesAdmin")"><i class="fa fa-plus"></i>Nowa rola</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Akcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "RolesAdmin", new { id = item.Id })"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="@Url.Action("Details", "RolesAdmin", new { id = item.Id })"><i class="fa fa-eye"></i></a>
                    <a href="@Url.Action("Delete", "RolesAdmin", new { id = item.Id })"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
