@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Usuwanie użytkownika " + '"' + Model.UserName + '"';
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Breadcrumb{
    <div>
        <h1>@ViewBag.Title</h1>
        <ul class="breadcrumb side">
            <li><i class="fa fa-home fa-lg"></i></li>
            <li><a href="@Url.Action("Index", "UsersAdmin")">Zarządznie użytkownikami</a></li>
            <li>@ViewBag.Title</li>
        </ul>
    </div>
}

<h3>Jesteś pewny, że chcesz usunąć tego użytkownika?</h3>

<div class="col-md-6">
    <div class="card">
        <h3 class="card-title">@ViewBag.Title</h3>
        <div class="card-body">
            <div class="col-md-offset-2">
                <div class="avatar">
                    @if (Model.ImageData != null) {
                        <img src="@Url.Action("GetImage", "Home" )" />
                    } else {
                        <img src="@Url.Action("GetDefaultImage", "Home" )" />
                    }
                </div>
            </div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RegisterDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RegisterDate)
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Enabled)
                </dt>
                <dd>
                    @if (Model.Enabled == true) {
                        @: Konto włączone
        } else {
                        @:Konto zablokowane
        }
                </dd>
            </dl>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Usuń" class="btn btn-danger" /> |
                    @Html.ActionLink("Powrót do listy", "Index")
                </div>
            }

        </div>
    </div>
</div>
