@model IEnumerable<IdentitySample.Models.ApplicationUser>

@{
    ViewBag.Title = "Zarządznie użytkownikami";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a href="@Url.Action("Create", "UsersAdmin")"><i class="fa fa-user-plus"></i>Nowy użytkownik</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th>
                Status
            </th>
            <th>
                Akcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    @if (item.EmailConfirmed == true) {
                        @:Aktywowany
                    } else {
                        @:Nieaktywowany
                    }
                    /
                    @if (item.Enabled == true) {
                        @:Włączony
                    } else {
                        @:Zablokowany
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "UsersAdmin", new { id = item.Id })"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="@Url.Action("Details", "UsersAdmin", new { id = item.Id })"><i class="fa fa-eye"></i></a>
                    <a href="@Url.Action("Delete", "UsersAdmin", new { id = item.Id })"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
